@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1440px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #00001a;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
}

a:hover {
  color: #f15e50;
}

a:focus {
  color: #f15e50;
}

ul {
  list-style: none;
}

.legos img {
  width: 950px;
  height: 500px;
  margin: 20px;
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: left;
  padding: 40px 120px;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #00001a;
}

.home-content p {
  font-size: 15px;
  font-weight: 400;
  color: #00001a;
  line-height: 1.5;
}

button {
  background-color: #f15e50;
  color: #fff;
  border: none;
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #00001a;
}

.newsContainer {
  background-color: #00001a;
  margin: 40px;
}

.newsContainer h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #e9ab53;
  text-align: center;
  padding-top: 20px;
}

.newsContent {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 50px 120px;
}

.newsCard {
  border-right: 1px solid #5d5f79;
  text-align: left;
  padding-right: 20px;
}

.newsCard h2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 15px;
  cursor: pointer;
}

.newsCard h2:hover {
  color: #e9ab53;
}

.newsCard p {
  font-size: 12px;
  font-weight: 400;
  color: #c5c6ce;
  line-height: 1.5;
}

.newsCard:nth-child(3) {
  border-right: none;
}

.trendingContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}

.trendCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.trendCard img {
  width: 120px;
  height: 120px;
  margin: 20px;
}

.trendCard h2 {
  color: #c5c6ce;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 15px;
}

.trendCard h3 {
  color: #00001a;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom: 15px;
  cursor: pointer;
}

.trendCard h3:hover {
  color: #f15e50;
}

.trendCard p {
  color: #5d5f79;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00001a;
  border-color: #00001a transparent #00001a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.usersContainer {
  margin: 40px;
  padding: 20px;
  background-color: #00001a;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.usersContainer h1 {
  color: #e9ab53;
  margin-bottom: 20px;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid #5d5f79;
  overflow-wrap: break-word;
}

.users img {
  width: 40px;
  border-radius: 50%;
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.pagination-num {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination-child:hover,
.prev:hover,
.next:hover {
  background-color: #e9ab53;
  color: #00001a;
  font-weight: 700;
}

.pagination-child,
.prev,
.next {
  opacity: 1;
  border: 1px solid #000;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pagination-child:hover,
.prev:hover,
.next:hover {
  transform: scale(1.1);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sad-face {
  width: 200px;
  height: 200px;
  margin: 20px;
}
